# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
log/
install/
.vscode/
workspace.code-workspace

#Yolo
/computer/yolov5-master/runs/
/computer/yolov5-master/mydatas/
/computer/yolov5-master/data/
/computer/yolov5-master/yolov5l.pt
/computer/yolov5-master/yolov5m.pt
/computer/yolov5-master/yolov5s.pt
/computer/yolov5-master/yolov5x.pt

#Darknet
*.weights
*.jpg
*.png
backup/
Myclasses_train/
Myclasses_test/
label/
images/
bad.list
#!*_final.weights
#!*_best.weights
#yolov4-tiny.conv.29
#yolov7-tiny.conv.87
